# build output
dist/
# generated types
.astro/
.wrangler/
scripst/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#database

db/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# local database dumps and files
db_local_dump.sql
db_empty_batch.json
*.db
*.sqlite
*.sqlite3

# Cloudflare local secrets
.dev.vars
